import("Formula")
import("gamlss.dist")
import("gamlss.data")
import("mgcv")

importFrom("stats", "terms", ".getXlevels", "coef", "dnorm", "lm.wfit",
  "make.link", "model.frame", "model.matrix", "model.offset",
  "model.response", "model.weights", "nlminb", "pnorm",
  "qnorm", "rnorm", "runif", "sd", "update", "predict")

importFrom("utils", "flush.console")

export(
  "fake_formula",
  "gamlss2",
  "gamlss2.formula",
  "gamlss2.list",
  "gamlss2.control"
)

S3method(gamlss2, formula)
S3method(gamlss2, list)
S3method(plot, gamlss2)
S3method(predict, gamlss2)
S3method(residuals, gamlss2)
S3method(family, gamlss2)

