/*-- scss:defaults --*/
@import url(http://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);
$font-family-sans-serif: 'Roboto';

/* hcl(270, c(60, 65, 15), c(55, 40, 90)) */
$body-color: #333333 !default;
$link-color: #5F52A5;
$code-color: #333333;
$navbar-bg: #E2E0F4;
$navbar-fg: #5F52A5;
$navbar-hl: #5F52A5;
$sidebar-fg: #333333;
$sidebar-hl: #5F52A5;
$toc-color: #5F52A5;
$toc-hl: #5F52A5;
